/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;  */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;
    border: 1px solid black;
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    background-color: darkgray;
}

.container{
    padding: 2%;
    
}

nav{
    display: flex;
    width: 45%;
    margin: 1% 0;
    justify-content: space-around;
    padding:.5%;
}

#s1{
    display: flex;
}


h1{
    font-size: 5rem;
    
}

.image{
    display:flex;
    width: 40%;
    margin: 1%;
}

.textone{
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    padding-top: 10%;

}

h2{
    font-size: 4rem;
    padding: 1.5%;
}

.container2{
    display:flex;
    padding: 2%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img6{
    width:25%;
    padding: 2%;
    object-fit: cover;
}

.image img{
    border-radius: 12px;
}

footer{
    display: flex;
    width: 100%;
    background-color:rgba(0, 136, 169, 1) ;
    padding: 3%;
}

.container{
    width: 100%;
}

.like{
    text-align: center;
    font-size: 2.5rem;
    justify-content: space-evenly;
}

.img6 img{
    max-height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.img6 p{
    padding: 10%;
    text-align: center;
    justify-content: space-between;
    
}

nav a{
    background-color:rgba(0, 136, 169, 1) ;
    color:white;
    border-radius: 12px;
    height: 10%;
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
}

a{
    background-color:rgba(0, 136, 169, 1) ;
    color:white;
    border-radius: 12px;
    height: 10%;
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
}

.p1 p{
    padding:2%;
}

/* adding media styles*/
/*max width:800px*/
/*Header */ 

@media(max-width: 800px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        text-align: center;
        margin: 0 1%;
        width: 60%;
    }
    .textone{
        display: flex;
        margin: 0 auto;
        padding-top: 0%
    }
    .p1{
        margin: 2%;
    }
    h3{
        margin: 2%;
    }
    footer, .like a{
        margin: 2% 0;
    }
    .like{
        width: 50%;
    }
    .img6{
        width: 50%;
    }
}

/*media styles max-width: 500px*/
@media(max-width:500px){
    body{
        font-size: 1rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        flex-direction: column;
        width: 25%;
        margin: 2% 0;
    }
    nav .home, .about, .contact, .projects{
        margin: 2% 0;
    }
    #s1{
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 100%;
        align-items: center;
    }
    .image{
        width: 90%;
    }
    .textone{
        width: 100%;
    }
    .name{
        width: 100%;
        margin: 2% 0;
    }
    .textone p{
        margin: 2%;
        font-size: 2rem;
    }
    .img6 p{
        font-size: 2rem;
    }
    .img6{
        width: 100%;
    }
}





